.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-inline: 20px;
    width: 40%;
    border-radius: 10px;
    height: 200px;
    font-size: 24px;
    background-color:#312E74;
    h2{
        font-size: 65px;
    }
    .info-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .info-card {
        flex: 1;
        height: 100px;
        h4{
            font-size: 11px;
        }
        h2{
            font-size: 18px;
        }
    }
}