.container{
    display: flex;
    height: 100vh;
    overflow: scroll;
    .first-section{
        box-sizing: border-box;
        background: url("../../assets/Images/mainBackground.jpg") no-repeat center center fixed;
        height: 100vh;
        width: 60%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        .header{
            display: flex;
            justify-content: flex-end;
            color: white;
            font-size: 60px;
            font-family: 'Times New Roman';
        }
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Times New Roman';
            .date-time{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
                font-size: 60px;
                gap: 0.3em;
                font-family: 'Times New Roman';
                .date{
                    font-size: 30px;
                    letter-spacing: 5px;
                    // word-spacing: 6px;
                    font-family: 'Courier New';
                }
            }
            .temperature{
                font-size: 160px;
            }
        }
    }
    .second-section{
        flex: 1;
        height: 100vh;
        padding-top: 3em;
        padding-inline: 4em;
        background-color: #1F1F2B;
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
        // overflow: scroll;
        .icon{
            display: flex;
            justify-content: center;
        }
        .weather-condition{
            color: white;
            font-size: 80px;
            text-align: center;
            margin-top: 0.5em;
        }
        .search-bar{
            display: flex;
            padding-left: 5%;
            margin-top: 2em;
            .search-box{
                display: flex;
                flex: 1;
                border: none;
                border-bottom: 1px solid white; /* Add bottom border */
                background-color: transparent;
                outline: none;
                color: white;
                font-size: 28px;
                text-align: center;
                // margin-bottom: 1em;
            }
        }
        .weather-details{
            display: flex;
            // height: 25%;
            justify-content: space-between;
            padding-block: 1em;
            padding-inline: 10%;
            border-bottom: 1px solid white; 
            color: White;
            font-size: 24px;
        }
    }

}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  // Laptop different screen adjustments
  @media (min-width: 1200px) and (max-width: 1440px) {
    .container .first-section .footer .temperature{
        font-size: 120px;
    }
    .container .first-section .footer .date-time{
        font-size: 46px;
    }
    .container .first-section .footer .date-time .date{
        font-size: 22px;
    }
  }
  @media (min-width: 1024px)  and (max-width: 1200px) {
    .container .first-section .footer .temperature{
        font-size: 80px;
    }
    .container .first-section .footer .date-time{
        font-size: 35px;
    }
    .container .first-section .footer .date-time .date{
        font-size: 18px;
    }
  }
    //Mobiles and Ipads 
    @media screen and (max-width: 920px) {
      .container{
        width: 100%;
        flex-direction: column;
        .first-section{
            height: 100%;
            width: 100%;
            padding: 1em;
            .footer{
                .temperature{
                  font-size: 40px;
                  }
                 .date-time{
                  font-size: 25px;
                  }
                  .date-time .date{
                      font-size: 12px;
                  }
            }
        }
        .second-section{
            width: auto;
            height: max-content;
            padding-inline: 2em;
            box-sizing: content-box;
            .weather-condition{
                font-size: 50px;
            }
            .weather-details{
                padding-block: 0.5em;
            }
            .search-bar{
                .search-box{
                    width: 100%;
                }
            }
        }
      }
    }
